services:
  reth-node:
    build: .
    container_name: reth-dev
    command: [ "node", "--dev", "--datadir", "/data", "--http", "--http.addr", "0.0.0.0", "--http.port", "8545", "--http.api", "eth,net,web3", "--ws", "--ws.addr", "0.0.0.0", "--ws.port", "8546" ]
    ports:
      - "8545:8545"
      - "8546:8546"
    volumes:
      - reth-data:/data
    environment:
      - RUST_LOG=info,reth=info
    networks:
      - rollup-network
    restart: unless-stopped

volumes:
  reth-data:


networks:
  rollup-network:
    external: true
